Python/Cave/.vs/Cave/v15/.suo
C/PhoneBook/.vs/
C/PhoneBook/Debug/
C/PhoneBook/PhoneBook/Debug/
Unity/MollyMolly/.vs/
Unity/MollyMolly/Assets/Textures/
Unity/MollyMolly/Library/
Unity/MollyMolly/ProjectSettings/
Unity/MollyMolly/Logs/
Unity/MollyMolly/Assets/Sounds/
Unity/MollyMolly/obj/
Unity/MollyMolly/Packages/
*.meta
*.unity
*.mat
